<nav>
    <div class="col">
        <h4>Innkeeper Games</h4>
        <ul>
            <li><a href="https://innkeepergames.com/blog">Blog</a></li>
            <li><a href="https://twitter.com/innkeeper_games">Twitter</a></li>
        </ul>
    </div>
    <div class="col">
        <h4>Cowork</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/app">App</a></li>
            <li><a href="https://innkeepergames.com/blog/tag:Cowork">Blog</a></li>
        </ul>
    </div>
    <div class="col">
        
    </div>
</nav>