.listing, .task {
  display: flex;
  justify-content: space-between;
  cursor: grab;
  background-color: white;
  padding: 0.5em 1ch 0.5em 1ch;
  margin: 0.5em 0 0.5em 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 8px;
}

a.listing, a.task {
  cursor: grab;
  text-decoration: none;
  color: black;
}

.listing:hover {
  background-color: ghostwhite;
}

.task div .tags, .task div .extras {
  visibility: hidden;
}

.task:hover {
  cursor: pointer;
  background-color: ghostwhite;
}

.active:hover {
  background-color: #bbbbbb;
}

.listing:focus, .listing:focus-within {
  background-color: ghostwhite;
}

.task:focus, .task:focus-within {
  cursor: pointer;
  background-color: ghostwhite;
}

.active:focus, .active:focus-within {
  background-color: #bbbbbb;
}

.tags, .extras {
  font-size: x-small;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

.listing:focus {
  outline: none;
}

.active-radio-button {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none;
}

.active {
  background-color: lightgrey;
}

.title {
  padding: 0;
}

.title:focus {
  outline: auto;
  border-color: #011638;
  border-width: 2px;
  box-sizing: border-box;
  border-radius: 4px;
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 0.2em;
}

.open {
  cursor: auto;
}

.extras {
  display: flex;
  justify-content: space-between;
}

.complete {
  background-color: #ecffef;
}

.complete:focus, .complete:hover {
  background-color: #d6fcdc;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}