<div id="scroll">
    <app-navbar></app-navbar>
    <h2 class="title">Choose the plan that's right for you.</h2>
    <div id="pricing">
        <div class="plan" id="basic">
            <h2>Basic</h2>
            <div>
                Work together with friends and gamify your productivity
            </div>
            <div class="price"><h3>$0</h3><span class="time"> per month</span></div>
            <ul>
                <li>Create virtual coworking environments with friends</li>
                <li>Unlimited tasks (public and private) and tags</li>
                <li>Shared Pomodoro timers</li>
                <li>Shared active tasks</li>
            </ul>
            <a href="/auth/sign-up" class="cta"><button>Sign up</button></a>
        </div>
        <div class="plan" id="pro">
            <h2>Pro</h2>
            <div>
                Get things done with larger groups, productivity insights, and more customization while supporting indie software
            </div>
            <div class="price"><h3>$5</h3><span class="time"> per month</span></div>
            <ul>
                <li>Everything in Basic</li>
                <li>Advanced personal productivity statistics, with more insights in development</li>
                <li>More custom room environment features</li>
                <li>More cosmetic options for your avatar</li>
                <li>A badge indicating your support for indie software</li>
            </ul>
            <a href="/home/settings/subscribe" class="cta"><button>Coming soon</button></a>
        </div>
    </div>
    <app-footer></app-footer>
</div>