<div class="landing-page">
    <app-navbar></app-navbar>
    <div class="hero section">
        <div class="statement">
            <h2>Gamified, virtual coworking to help you get things done</h2>
            <div class="links">
                <a (click)="analyticsService.trackEvent('WYFDE8LJ')" (keydown.enter)="analyticsService.trackEvent('WYFDE8LJ')" class="cta-link" href="/auth/sign-up"><button class="cta">Sign up</button></a>
                <a href="/auth/sign-in">Sign in</a>
            </div>
        </div>
        <div class="muse-video-player demo" data-video="PSv3BDz" data-search="0" data-links="0" data-logo="0" data-title="0" data-autoplay="1" data-loop="1" data-volume="0" data-width="100%" data-style="no-controls"></div>
    </div>
    <div class="feature alt">
        <div class="statement right">
            <h2 class="feature-header">Customize</h2>
            <h3 class="feature-header">Create the perfect coworking spaces for your group</h3>
        </div>
        <img src="../../../assets/landing-page/customizable-spaces.png">
    </div>
    <div class="feature">
        <img src="../../../assets/landing-page/timer.png">
        <div class="statement left">
            <h2 class="feature-header">Work together</h2>
            <h3 class="feature-header">Join timed focus sessions with friends or colleagues</h3>
        </div>
    </div>
    <div class="feature alt">
        <div class="statement right">
            <h2 class="feature-header">Stay motivated</h2>
            <h3 class="feature-header">Earn in-game currency by working and completing achievements</h3>
        </div>
        <img src="../../../assets/landing-page/achievements.png">
    </div>
    <div class="feature">
        <img src="../../../assets/landing-page/stats.png">
        <div class="statement left">
            <h2 class="feature-header">Get personal stats</h2>
            <h3 class="feature-header">Learn about your productivity over time</h3>
        </div>
    </div>
    <div class="feature alt">
        <div class="statement right">
            <h2 class="feature-header">Create detailed tasks</h2>
            <h3 class="feature-header">Work the way you want to</h3>
        </div>
        <img src="../../../assets/landing-page/task.png">
    </div>
    <div class="information">
        <div class="faq">
            <h2 class="feature-header">Frequently asked questions</h2>
            <div>
                <h3 class="feature-header">What is Cowork?</h3>
                <p>
                    Cowork is a free, gamified productivity app and virtual coworking space.
                    It's built with task management features for students, colleagues, and freelancers.
                </p>
            </div>
            <div>
                <h3 class="feature-header">Is Cowork free?</h3>
                <p>
                    The fundamental features of Cowork are available for all members to use, and I'm planning on keeping it that way.
                    To keep the servers open, I am developing paid plans for those who'd like more cosmetic options and advanced features.
                    Those will launch later on. Since Cowork is indie software developed and maintained by just one person (hi!), I'd
                    really appreciate your support.
                </p>   
            </div>
            <div>
                <h3 class="feature-header">How can I download the Cowork app?</h3>
                <p>
                    Cowork isn't on app stores just yet, but it does have a great Progressive Web App (PWA) you can download. It looks and
                    feels just like an app you'd find on an app store, and it's available on iOS and Android.
                    <a href="/app">Learn how to install the Cowork app here</a>.
                </p>
            </div>
            <div>
                <h3 class="feature-header">Who makes Cowork?</h3>
                <p>
                    Cowork is a project by <a href="https://innkeepergames.com" target="blank">Innkeeper Games</a>, a one-person
                    indie game studio. Development on Cowork began in April 2020 (when many in-person coworking spaces, like cafes and libraries, closed during the COVID-19 pandemic) as a
                    way for me, its creator, to cowork with friends and stay accountable.
                </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>