form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 4em 0 4em;
    margin: auto;
}

a {
    color: #011638;
    cursor: pointer;
    text-decoration: underline;
}

input {
    font-size: 1.5em;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 0.5em 0;
    text-align: center;
}

h2 {
    margin: 0.2em 0 0.2em 0;
}

#error {
    display: none;
}

#visible-error {
    color: #D64045;
    display: inline;
}

@media only screen and (max-width: 600px) {
    form {
        padding: 0 0.5em 0 0.5em;
    }

    input {
        font-size: 1em;
    }
}