.scroll-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    position: relative;
}

#lists {
    overflow-y: auto;
}

.new-list {
    padding: 0.4em 1ch 0.2em 1ch;
    margin: 0 0 1em 0;
}
  
input[type=checkbox],
.tasks {
    display: none;
}
  
.list-header {
    display: flex;
}
  
input:checked~.tasks {
    display: block;
}
  
.submit-button {
    display: hidden;
    cursor: pointer;
    width: 2ch;
    height: 1.5em;
    position: absolute;
    right: 1ch;
}
  

#new-list-title-field {
    cursor: text;
    border: none;
}