<div id="scroll">
    <app-navbar></app-navbar>
    <div id="app-instructions">
        <div class="step">
            <h1>Install the Cowork app on iOS</h1>
        </div>
        <div class="step">
            <div>
                <h2>The Cowork Progressive Web App (PWA) looks and feels like an ordinary app.</h2>
            </div>
            <img src="../../../assets/landing-page/app-instructions/final.png">
        </div>
        <div class="step">
            <div>
                <h2>Tap the "share" button at the bottom-center of Safari on any Cowork page.</h2>
            </div>
            <img src="../../../assets/landing-page/app-instructions/share.png">
        </div>
        <div class="step">
            <div>
                <h2>Tap "Add to Home Screen".</h2>
            </div>
            <img src="../../../assets/landing-page/app-instructions/add-to-home-screen.png">
        </div>
        <div class="step">
            <div>
                <h2>Press "Add" in the top right corner.</h2>
            </div>
            <img src="../../../assets/landing-page/app-instructions/add.png">
        </div>
        <div class="step final">
            <div>
                <h2>That's it! Launch the app from your home screen.</h2>
            </div>
        </div>
        <div class="step">
            <h1>Install the Cowork app on Android</h1>
        </div>
        <div class="step">
            <h2>We don't have a tutorial for this yet, but check out <a target="blank" href="https://support.google.com/chrome/answer/9658361?hl=en&co=GENIE.Platform%3DAndroid">this resource</a> on installing PWAs on Android devices.</h2>
        </div>
    </div>
    <app-footer></app-footer>
</div>