<div class="activities">
    <app-timer
        tabindex="0"
        role="tabpanel"
        aria-labelledby="timer-nav"
        class="activity" id="timer"></app-timer>
    <app-chat
        tabindex="0"
        role="tabpanel"
        aria-labelledby="chat-nav"
        class="activity" id="chat"></app-chat>
    <app-stats
        tabindex="0"
        role="tabpanel"
        aria-labelledby="stats-nav"
        class="activity" id="stats"></app-stats>
    <app-tasks
        tabindex="0"
        role="tabpanel"
        aria-labelledby="tasks-nav"
        class="activity" id="tasks"></app-tasks>
    <app-settings
        tabindex="0"
        role="tabpanel"
        aria-labelledby="settings-nav"
        class="activity" id="settings"></app-settings>
</div>