form {
    display: flex;
    flex-direction: column;
    padding: 0 2ch 0 2ch;
}

.message {
    min-width: 100%;
    width: 0;
    display: none;
    text-align: center;
}

.visible {
    display: block;
}

a {
    color: #011638;
    cursor: pointer;
    text-decoration: underline;
}

input {
    font-size: 1.2em;
    padding: 0.5em 1ch;
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0.5em 0 0.5em 0;
}

h2 {
    margin: 0.2em 0 0.2em 0;
}

#error {
    display: none;
}

#visible-error {
    color: #D64045;
    display: inline;
}

@media only screen and (max-width: 600px) {
    form {
        padding: 0 0.5em 0 0.5em;
    }

    input {
        font-size: 1em;
    }
}